@import url(http://fonts.googleapis.com/css?family=Text+Me+One);
    
      body{
        font-family: 'Text Me One', sans-serif;
        background-color:black;
        color:#04518C;
        margin:0 0 0 0;
      }
      body>header{
        width:100%;
        font-size:2.5em;
        background-color:#dedede;
        border-bottom:1px solid #232323;
      }
      .title{
        width:100%;
        text-align:center;
        font-weight:bold;
      }
      .name{
        
        color:#003056;
      }
      .dot{
        color:#04518C;
      }
      footer{
        width:100%;
        position:fixed;
        bottom:0;
        background-color:#dedede;
        text-align:center;
        font-size:0.8em;
      }
      
      #content{
          width:935px;
          margin-left:auto;
          margin-right:auto;
          overflow:auto;
          
      }
      
      #content section{
          width:300px;
          margin-left:5px;
          margin-right:5px;
          display:block;
          background-color:white;
          float:left;
      }
      
      